{%- liquid
  if section.settings.main_menu_linklist
    assign main_menu_linklist = section.settings.main_menu_linklist
  else
    assign main_menu_linklist = 'main-menu'
  endif
-%}
<div class="flex h-[4.375rem] w-full items-center justify-between p-4">
  {% comment %}
    -- Logo --
  {% endcomment %}
  {%- if section.settings.logo != blank -%}
    <a
      href="{{ routes.root_url }}"
      class="block"
      style="padding: {{ section.settings.logo_padding }}px; width: {{ section.settings.logo_max_limit }}px;"
    >
      {%- assign logo_width = section.settings.logo_max_limit | times: 1 -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = logo_width -%}
      {% capture sizes %}(max-width: {{ logo_width | times: 2 }}px) 50vw, {{ logo_width }}px{% endcapture %}
      {% capture widths %}{{ logo_width }}, {{ logo_width | times: 1.5 | round }}, {{ logo_width | times: 2 }}{% endcapture %}
      {{
        section.settings.logo
        | image_url: width: 600
        | image_tag: widths: widths, height: logo_height, width: logo_width, alt: logo_alt, sizes: sizes, preload: true
      }}
    </a>
  {%- else -%}
    <a
      href="{{ routes.root_url }}"
      class="w-[{{ section.settings.logo_max_limit }}px] p-[{{ section.settings.logo_padding }}px]"
    >
      <h2>{{ shop.name }}</h2>
    </a>
  {%- endif -%}
  <header class="align-center fixed bottom-1 left-1/2 right-auto top-auto z-40 flex h-[4.375rem] w-[400px] -translate-x-1/2 rounded-md bg-white px-3 drop-shadow-md lg:bottom-auto lg:left-[65%] lg:top-10 lg:w-[66%] lg:px-8">
    <nav class="w-full text-sm relative hidden items-stretch justify-between lg:flex lg:flex-1">
      <div class="flex items-center justify-between lg:justify-start lg:space-x-8  w-[66%]">
        {%- assign link_title_handle = link.title | handle -%}
        {%- assign highlight_links = 'general.header.highlight_links'
          | t
          | strip
          | split: ','
          | join: '___'
          | handle
          | replace: '___-', '___'
          | replace: '-___', '___'
          | split: '___'
        -%}
        {% for link in linklists[main_menu_linklist].links %}
          <a
            href="{{ link.url }}"
            class="text-center"
          >
            <span>{{ link.title | strip_html | escape }}</span>
          </a>
        {% endfor %}
      </div>

      <div class="flex items-center justify-end space-x-2 w-[33%]">
        <a
          href="#"
          class="hidden items-center rounded-sm bg-darkGray bg-opacity-0 p-2 lg:flex hover:bg-opacity-10"
        >
          <i data-lucide="search"></i>
        </a>
        <a
          href="#"
          class="hidden items-center rounded-sm bg-darkGray bg-opacity-0 p-2 lg:flex hover:bg-opacity-10"
        >
          <i data-lucide="shopping-cart"></i>
        </a>
      </div>
    </nav>
    <div
      class="lg:hidden flex w-full flex-1 items-center justify-between space-x-2 lg:w-1/3 lg:flex-none lg:justify-end lg:space-x-0"
    >
      <button
        class="font-semibold shadow-sm z-40 h-[85%] w-1/2 rounded-md bg-[#00696C] text-center text-md text-white hover:opacity-80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 lg:hidden"
      >
        Shop All
      </button>
      <div
        class="flex h-[85%] w-1/2 flex-1 items-center justify-between space-x-2 lg:w-1/3 lg:flex-none lg:justify-start lg:space-x-0"
      >
        <button
          class="z-40 flex aspect-square h-full w-[30%] items-center justify-center rounded-md bg-[#F0F1EB] p-2 text-sm font-bold text-[#002021] duration-200 lg:w-[50%] lg:flex-1 lg:bg-darkGray lg:bg-opacity-0 lg:hover:bg-opacity-10"
        >
          <i data-lucide="search"></i>
        </button>
        <button
          class="z-40 flex aspect-square h-full w-[30%] items-center justify-center rounded-md bg-[#F0F1EB] p-2 text-sm font-bold text-[#002021] duration-200 lg:w-[50%] lg:flex-1 lg:bg-darkGray lg:bg-opacity-0 lg:hover:bg-opacity-10"
        >
          <i data-lucide="shopping-cart"></i>
        </button>
        <button
          class="z-40 flex aspect-square h-full w-[30%] items-center justify-center rounded-md bg-[#F0F1EB] p-2 text-sm font-bold text-[#002021] duration-200 lg:w-[50%] lg:flex-1 lg:bg-darkGray lg:bg-opacity-0 lg:hover:bg-opacity-10"
        >
          <i data-lucide="menu"></i>
        </button>
      </div>
    </div>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_limit",
      "min": 5,
      "max": 495,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Logo padding",
      "default": 15
    },
    {
      "type": "range",
      "id": "logo_text_size",
      "label": "Logo text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5,
      "info": "Available only for text logo"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency",
      "label": "Show currency",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "header",
      "content": "Sticky header"
    },
    {
      "type": "select",
      "id": "header_sticky",
      "label": "Header scroll behavior",
      "default": "static",
      "options": [
        {
          "value": "static",
          "label": "Default"
        },
        {
          "value": "sticky",
          "label": "Sticky header"
        },
        {
          "value": "directional",
          "label": "Sticky header only when scrolling up"
        }
      ]
    },
    {
      "type": "header",
      "content": "Links"
    },
    {
      "type": "link_list",
      "label": "Menu",
      "id": "main_menu_linklist"
    },
    {
      "type": "link_list",
      "label": "Mobile menu (optional)",
      "id": "mobile_menu_linklist"
    },
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "color",
      "id": "announcement_bar_bg_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
