{%- liquid
  if section.settings.main_menu_linklist
    assign main_menu_linklist = section.settings.main_menu_linklist
  else
    assign main_menu_linklist = 'main-menu'
  endif
-%}
<div class="flex h-[4.375rem] w-full items-center justify-between p-4">
  {% comment %}
    -- Logo --
  {% endcomment %}
  {%- if section.settings.logo != blank -%}
    <a
      href="{{ routes.root_url }}"
      class="block"
      style="padding: {{ section.settings.logo_padding }}px; width: {{ section.settings.logo_max_limit }}px;"
    >
      {%- assign logo_width = section.settings.logo_max_limit | times: 1 -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = logo_width -%}
      {% capture sizes %}(max-width: {{ logo_width | times: 2 }}px) 50vw, {{ logo_width }}px{% endcapture %}
      {% capture widths %}{{ logo_width }}, {{ logo_width | times: 1.5 | round }}, {{ logo_width | times: 2 }}{% endcapture %}
      {{
        section.settings.logo
        | image_url: width: 600
        | image_tag: widths: widths, height: logo_height, width: logo_width, alt: logo_alt, sizes: sizes, preload: true
      }}
    </a>
  {%- else -%}
    <a
      href="{{ routes.root_url }}"
      class="w-[{{ section.settings.logo_max_limit }}px] p-[{{ section.settings.logo_padding }}px]"
    >
      <h2>{{ shop.name }}</h2>
    </a>
  {%- endif -%}
  <header class="align-center fixed bottom-1 left-1/2 right-auto top-auto z-40 flex h-[4.375rem] w-[360px] -translate-x-1/2 rounded-md bg-white px-3 drop-shadow-md lg:bottom-auto lg:left-[65%] lg:top-10 lg:w-[66%] lg:px-8">
    <nav class="w-full text-sm relative hidden items-stretch justify-between lg:flex lg:flex-1">
      <div class="flex items-center justify-between space-x-2 w-[66%]">
        {%- assign link_title_handle = link.title | handle -%}
        {%- assign highlight_links = 'general.header.highlight_links'
          | t
          | strip
          | split: ','
          | join: '___'
          | handle
          | replace: '___-', '___'
          | replace: '-___', '___'
          | split: '___'
        -%}
        {% for link in linklists[main_menu_linklist].links %}
          <a
            href="{{ link.url }}"
            class="text-center"
          >
            <span>{{ link.title | strip_html | escape }}</span>
          </a>
        {% endfor %}
      </div>

      <a
        href="#"
        class="hidden items-center rounded-sm bg-darkGray bg-opacity-0 p-2 lg:flex hover:bg-opacity-10"
      >
        <svg
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 10.5C3 11 1.5 12 1.5 15.5H15.5C15.5 12 14.3416 11.1708 13 10.5C12 10 10 10 10 8.5C10 7 11 6.25 11 4.25C11 2.25 10 1.25 8.5 1.25C7 1.25 6 2.25 6 4.25C6 6.25 7 7 7 8.5C7 10 5 10 4 10.5Z"
            stroke="#101112"
            strokeWidth="1.2"
          />
        </svg>
      </a>
    </nav>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_limit",
      "min": 5,
      "max": 495,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Logo padding",
      "default": 15
    },
    {
      "type": "range",
      "id": "logo_text_size",
      "label": "Logo text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5,
      "info": "Available only for text logo"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency",
      "label": "Show currency",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "header",
      "content": "Sticky header"
    },
    {
      "type": "select",
      "id": "header_sticky",
      "label": "Header scroll behavior",
      "default": "static",
      "options": [
        {
          "value": "static",
          "label": "Default"
        },
        {
          "value": "sticky",
          "label": "Sticky header"
        },
        {
          "value": "directional",
          "label": "Sticky header only when scrolling up"
        }
      ]
    },
    {
      "type": "header",
      "content": "Links"
    },
    {
      "type": "link_list",
      "label": "Menu",
      "id": "main_menu_linklist"
    },
    {
      "type": "link_list",
      "label": "Mobile menu (optional)",
      "id": "mobile_menu_linklist"
    },
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "color",
      "id": "announcement_bar_bg_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
